.buttonContainer {
  margin: 0 0 0 5px ;
  display: inline-block;
}

.buttonContainer + .buttonContainer {
  margin: 0 10px;
}

.smallIconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}
