@color: #333;

.buttonContainer {
  margin: 0 0 0 5px ;
  display: inline-block;
}

.buttonContainer + .buttonContainer {
  margin: 0 10px;
}

.button {
  margin: 10px 15px;
}

.buttonSaveCancelContainer {
  position: relative;
  margin: 15px auto;
}

.smallIconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.buttonLink {
  color: @color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: @color;
  }
}

.selectDefaultOption {
  color: lighten(@color, 50%);
}

.totalValue {
  color: #428bca;
}

